{% extends 'base.html' %}

{% load static %}

{% block title %}Lion Blog{% endblock %}


{% block header %}

<header class="masthead"
        style="background-image: url({% static 'assets/img/home-bg.jpg' %})">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>Lion's Blog</h1>
          <span class="subheading">自由気ままな🦁</span>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock %}
  
{% block contents %}
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-9">
        <a href="{% url 'blog:create' %}" class="btn btn-outline-success btn-rounded rounded-pill" data-mdb-ripple-color="dark">新規作成</a>
        <hr>
        {% for record in orderby_records %}
        <div class="card mb-3 w-100">
          {% if record.image %}
          <img src="{{record.image.url}}" height="400" class="card-img-top" alt="...">
          {% endif %}
          <div class="card-body">
            <h4 class="card-title">{{record.title}}</h4><span class="small text-muted"> ~ {{ record.category }} ~</span>
            <p class="card-text">{{record.content | linebreaksbr |truncatechars:50}}</p>
            <p class="card-text pt-md-4"><small class="text-muted">{{record.posted_at}}に投稿</small></p>
            <a href="{% url 'blog:detail' record.pk %}" type="button" class="btn btn-outline-primary btn-rounded rounded-pill" data-mdb-ripple-color="dark">この記事を読む</a>
            <a href="{% url 'blog:update' record.pk %}" type="button" class="btn btn-outline-info btn-rounded rounded-pill" data-mdb-ripple-color="dark">編集する</a>
            <a href="{% url 'blog:delete' record.pk %}" type="button" class="btn btn-outline-warning btn-rounded rounded-pill" data-mdb-ripple-color="dark">削除する</a>
          </div>
        </div>
        {% endfor %}

        {% include "pagination.html" %}
      </div>
    </div>
  </div>
  <hr class="my-4" />
{% endblock %}

